<!DOCTYPE html>
<html lang=<%= lang %>>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="/static/home/css/style.css" />
</head>
<body>
    <div class="container">
        <header class="header">
          <h1 class="header__logo--text">Linkly</h1>
          <h2 class="header__logo--description">Alias your links</h2>
        </header>
        <main class="link">
            <div class="link_result" id="link_result">
              <p class="link_result__text" id="link_result__text"></p>
            </div>
            <form class="link_form" id="link_form">
                <label for="link_form__input--full_link" class="link_form__label link_form__label--full_link">Full Link</label>
                <input name="link_form__input--full_link" class="link_form__input link_form__input--full_link" id="link_form__input--full_link" type="text" />
                <label for="link_form__input--short_link" class="link_form__label link_for__label--short__link">Link Alias</label>
                <input name="link_form__input--short_link" class="link_form__input link_form__input--short_link" id="link_form__input--short_link" type="text" />
                <button name="link_form__button" class="link_form__button" id="link_form__button" type="submit">Incurtar</button>
            </form>
          </main>
        <footer class="footer"></footer>
    </div>
</body>
<script src= "/static/home/js/main.js"></script>
<noscript>Your JavaScript is disabled!</noscript>
</html>